OnlineStore_Epam2018/SA.OnlineStore.DataAccess/Connected Services/NewServiceReference/NewWebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SA.OnlineStore.WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SA.OnlineStore.WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPublicityService">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PublicityService" nillable="true" type="tns:PublicityService" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPublicityService" nillable="true" type="tns:ArrayOfPublicityService" />
  <xs:complexType name="PublicityService">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Picture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PublicityService" nillable="true" type="tns:PublicityService" />
</xs:schema>